*{
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

body{
	position: relative;
	padding: 10px;
	width: 450px;
	font: normal 12px Verdana;
	color: #616161;
}

a, a:visited{
	color: #00719E;
}

label{
	display: inline-block;
	margin-bottom: 3px;
}

input[type="text"]{
	padding: 2px 0 2px 2px;
	border: 1px solid #D0D0D0;
}

input[readonly]{
	background: #FBFBBD;
	border-color: #DCD9D9;
	color: #6D6A6A;
}

input[disabled],
input.param-input[disabled]{
	background: #ECECEC;
	color: #AAAAAA;
}

input.param-input{
	margin-top: -4px;
	width: 35px;
	vertical-align: top;
	text-align: center;
	color: #3E3F40;
}

input[type="checkbox"] + label{
	margin-bottom: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font: normal 12px Verdana;
}

::-moz-placeholder { /* Firefox 19+ */
	font: normal 12px Verdana;
}

:-ms-input-placeholder { /* IE 10+ */
	font: normal 12px Verdana;
}

:-moz-placeholder { /* Firefox 18- */
	font: normal 12px Verdana;
}

.display-none{
	display: none;
}

.opaque{
	transform: 0.3s;
	opacity: 0.7;
}

.opaque:hover{
	opacity: 1;
}

.blink:not(:hover){
	animation: blinker 1.2s ease infinite;
}

@keyframes blinker{
	50%{ opacity: 0; }
}

#popup-title{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 15px 0;
	font-size: 26px;
	font-weight: 800;
	text-align: center;
	background: #00B7FF;
	color: #FFFFFF;
}

#sct-version{
	vertical-align: bottom;
}

#form-field{
	margin-top: 60px;
}

.field-container{
	margin: 13px 0 10px 0;
}

.field-container.editor{
	border-top: 1px solid #DEDEDE;
	padding-top: 17px;
	margin-top: 19px;
}

.field-container.editor *{
	vertical-align: top;
}

#extEnabled ~ label{
	font-weight: bold;
	color: #0795CE;
}

#useNewEditor ~ label{
	font-weight: bold;
	color: #EA4875;
}

.shortcut-keys-container:not(.active){
	color: #929292;
}

.shortcut-keys-container .block-text{
	margin-bottom: 5px;
}

.shortcut-keys-container .field-container{
	margin: 2px 0 3px 0;
}

.button-container{
	text-align: center;
}

.button{
	transition: background 0.3s;
	position: relative;
	margin: 0 5px;
	padding: 4px 10px;
	border: none;
	border-radius: 2px;
	background: #78909C;
	color: #FAFAFA;
	cursor: pointer;
	outline: none;
}

.button:hover,
.button:focus{
	background: #455A64;
	color: #FFFFFF;
}

.button.busy::before,
.button.done::before,
.button.fail::before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 0.3s;
	border-radius: inherit;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FFFFFF;
}

.button.busy::before{
	background-image: url("/assets/img/loading.svg");
}

.button.busy.done::before,
.button.done::before{
	background-image: url("/assets/img/done.svg");
}
.button.busy.fail::before,
.button.fail::before{
	background-image: url("/assets/img/cross.svg");
}

#load-default-settings{
	background: #B0BEC5;
}

#load-default-settings:hover,
#load-default-settings:focus{
	background: #455A64;
}

.info{
	margin-top: -2px;
	margin-left: 5px;
	vertical-align: top;
	transition: 0.3s;
	opacity: 0.3;
	cursor: pointer;
}

.info:hover{
	opacity: 1;
}

.modal{
	position: relative;
	color: #626262;
}

.modal:not(.active){
	display: none;
}

.modal::before{
	content: "";
	z-index: 1;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
}

.modal-body{
	z-index: 99999999;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 10px;
	padding: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	background: #FFFFFF;
}

.modal-title{
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	color: #203CD6;
}

.modal-title:empty{
	display: none;
}

.modal-content{
	overflow: auto;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 18px;
}

.modal-content p{
	margin: 5px 0;
}

.modal-content u,
.modal-content b,
.modal-content i,
.modal-content a,
.modal-content strong{
	vertical-align: bottom;
}

.modal-content u,
.modal-content i,
.modal-content a{
	color: #3749AF;
}

.modal-content b{
	color: #CE0E00;
}

.modal-toolbar{
	margin-top: 10px;
	text-align: center;
}

.modal-toolbar .button{
	border: 1px solid transparent;
}

.modal-toolbar .button:focus{
	border-color: #0C00FD;
}

.modal-toolbar .button.busy{
	border-color: initial;
	border-radius: 0;
}

.modal-editor_preferences .modal-title{
	text-decoration: none;
}

.modal-editor_preferences .info{
	vertical-align: middle;
}

#send-message{
	transition: 0.3s;
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 24px;
	cursor: pointer;
}

#feedback-container{
	display: none;
}

#feedback-note{
	margin-bottom: 10px;
}

#feedback-email,
#feedback-message{
	box-sizing: border-box;
	padding: 5px;
	width: 402px;
	resize: none;
	border: 1px solid #AAA;
	background: #FFFFFF;
	outline: none;
}

#feedback-message{
	margin-top: 10px;
	height: 120px;
}

#feedback-note{
	color: #F44336;
}

#editor-preferences{
	margin-left: 5px;
	cursor: pointer;
	color: #212121;
}