*{
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

body{
	width: 450px;
	font: normal 12px Verdana;
	color: #616161;
}

label{
	display: inline-block;
	margin-bottom: 3px;
}

input[type="text"]{
	padding: 2px 0 2px 4px;
	border: 1px solid #D0D0D0;
}

input[readonly]{
	background: #FBFBBD;
	border-color: #DCD9D9;
	color: #6D6A6A;
}

input[disabled]{
	background: #ECECEC;
	color: #AAAAAA;
}

input[type="checkbox"] + label{
	margin-bottom: 0;
}

input.shortcut-key{
	width: 35px;
	text-align: center;
	color: #3E3F40;
}

#popup-title{
	padding: 15px 0;
	font-size: 26px;
	font-weight: 800;
	text-align: center;
	background: #00B7FF;
	color: #FFFFFF;
}

#form-field{
	margin: 5px 10px 10px 10px;
}

.field-container{
	margin: 13px 0 10px 0;
}

#extEnabled ~ label{
	font-weight: bold;
	color: #0795CE;
}

.shortcut-keys-container:not(.active){
	color: #929292;
}

.shortcut-keys-container .field-container{
	margin: 2px 0 3px 0;
}

.button-container{
	text-align: center;
}

.button{
	transition: 0.3s;
	position: relative;
	margin: 0 5px;
	padding: 4px 10px;
	border: none;
	border-radius: 2px;
	background: #78909C;
	color: #FAFAFA;
	cursor: pointer;
	outline: none;
}

.button:hover,
.button:focus{
	background: #455A64;
	color: #FFFFFF;
}

.button.busy::before,
.button.done::before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 0.3s;
	border-radius: inherit;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FFFFFF;
}

.button.busy::before{
	background-image: url("loading.svg");
}

.button.busy.done::before,
.button.done::before{
	background-image: url("done.svg");
}

#load-default-settings{
	background: #B0BEC5;
}

#load-default-settings:hover,
#load-default-settings:focus{
	background: #455A64;
}

.help{
	vertical-align: sub;
	transition: 0.3s;
	opacity: 0.3;
	cursor: pointer;
}

.help:hover{
	opacity: 1;
}